/* Layout.module.css */

.sub-container {
    display: flex;
    position: relative;
}

.sub-main{
    flex-grow: 1;
}

.collapsed {
    flex-direction:row;
}

.toggleButton {
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    display:none;
    margin: 10px;
}

.toggleButton:hover {
    color: #121661;
}

.bold{
    font-weight: bold;
}

.sidebar {
    flex: 0 0 250px; /* Sidebar with a fixed width of 250px */
    min-width: 250px;
    padding: 0 0 0 20px;
    border-right: 1px solid grey;
}

.sidebarList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.sidebarList li {
    margin: 0 10px 10px 0;
}

.sidebarList li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebarList li a:hover {
    background-color: rgb(245, 247, 250);
}

.withDropdown > span {
    cursor: pointer;
    padding: 10px;
}

.dropdownMenu {
    list-style-type: none;
    display: none;
  
}

.open > .dropdownMenu {
    display: block;
    margin: 0;
}

.method {/* Example color for the method */
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 7px;
    font-weight: bolder;
}
.post{
  background-color: #49cc90;
}

.dropdownMenu {
    padding: 10px 0 10px 20px;
}

.dropdownMenu li a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s;
}

.dropdownMenu li a:hover {
    background-color: rgb(245, 247, 250);
}

.clicked{
    background-color: rgb(245, 247, 250);
    font-weight: bold;
    color: #121661;
    border-left: 4px solid #121661;
}

@media (max-width: 768px) {
    .sub-container{
        position: relative;
    }
    .toggleButton{
        display: block;
        
    }

    .toggleButtonLeft{
        position: absolute;
        left: 10px;
    }

    .toggleButtonXmark{
        position: absolute;
        right: 20px;
    }

    .sidebar{
        display: flex;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 3;
        -webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;

    }

    .subSidebar{
        display: flex;
        width: auto;
        margin: auto;
    }



    .sub-main{
        width: 100%;
        margin:auto;
    }
}