/* deleteConfirmationModal.css */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .modal.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .button-div {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .cancel-button,
  .delete-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #fff;
  }
  
  .delete-button {
    background-color: #ff0000;
    color: #fff;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
  