.navigator{
    border-right:1.5px solid #ddd;
    display:none;
    left: 0px;
    top: 65px;
    width: 300px;
    height: calc(-65px + 100vh);
    overflow-y: auto;
    flex: 0 0 300px;
    padding: 0px 0px 0px 20px;
    overflow-x: hidden;
}

.navigator.main-nav{
  display:block;
}

.collapse-bar {
    display: none; 
    margin:10px 5px;/* Hide the bar by default */
  }
  
  @media screen and (max-width: 768px) {
    
    .navigator.not-collapsed {
      transition: width 0.3s ease;
      display: block; /* Add transition for smooth animation */
    }

    .navigator.main-nav{
      display:none;
    }
  
    .collapse-bar {
      display: block; /* Show the bar only on small screens */
      cursor: pointer;
      /* Add styles for the collapse bar */
    }
  }

  @media screen and (min-width: 769px){
    .navigator{
        display: block;
    }
  }