.api {
    list-style: none;
    padding-left: 20px;
  }

  .apis{
    padding-left: 15px;
    border-left: 1.5px solid rgb(218, 220, 224);
  }

  .service-name{
    font-size: 14px;
    font-weight: 100;
    margin:10px 0;
  }

  .action-button.edit{
    color: #0070ba;
  }

  .action-button.delete{
    color:gray
  }
  .api-name{
    font-size: 12px;
  }

  .method-side{
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin: auto 10px auto 0;
    display: inline-block;
    font-size: 7px;
    height: fit-content;
    min-width: 25px;
    text-align: center;
  }

  .POST{
    background-color: #49cc90;
  }
  
  .PUT{
      background-color: #fca130;
  }
  
  .DELETE{
      background-color: #f93e3e;
  }
  .PATCH{
      background-color: #50e3c2;
  }
  
  .GET{
      background-color: #61affe;
  }
  
  .apis li {
    padding: 1px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  /* Highlight on hover */
  .apis li:hover {
    background-color: rgb(245, 247, 250);

  }
  
  /* Highlight when clicked */
  .apis li.selected {
    background-color:  rgb(245, 247, 250);
    background-color: rgb(245, 247, 250);
    font-weight: bold;
    border-left: 2px solid #121661;
    /* Add any additional styling for the selected API here */
  }