/* Layout.module.css */

.main{
    position: relative;
    top: 65px;
}

.nav-container {
    width: 100%;
    display:block;
    /* max-width: 1200px; */
    font-family: sans-serif;
    margin: 0 auto;
}

.navbar {
    z-index:6 ;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
}

.navbarLeft{
    display: flex;
    gap: 10px;
}
.navbarRight>div{
    margin: auto 0;
}

.navbarLeft img {
    width: 40px;
    height: auto;
    margin: auto 0 auto 15px;
}

.navbarRight {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 20px;
}

.rightList {
    position: relative;
    margin-right: 20px;
}

.productsButton,.toolsButton{
    color: #121661;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.rightList > a{
    text-decoration: none;
    color: #121661;
}

.productsDropdownContent,.toolsDropdownContent {
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 2;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productsDropdownContent a,.toolsDropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    /* border-radius: 4px; */
}

.productsDropdownContent a:hover,.toolsDropdownContent a:hover {
   color:#121661;
   font-weight: bold;
}

.products:hover .productsDropdownContent {
    display: block;
}

.tools:hover .toolsDropdownContent {
    display: block;
}


.loginButton {
    background-color:#0070ba; /* Example background color for the login button */
    color: white; /* Example text color for the login button */
    border: 2px solid #0070ba;
    padding: 5px 10px;
    border-radius: 4px;
}

.loginButton:hover{
    background-color: #121661;
    border: 2px solid #121661;
    cursor: pointer;
}

.hamburger {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    display: none; /* Initially hide for big screens */
}

.hamburgerIcon {
    color: #121661;
    width: 30px;
    /* height: 3px; */
    margin: 6px 0;
    transition: transform 0.3s;
}

.hamburgerIconOpen {
    color: #121661;
}

.menu {
    display: none;
    flex-direction: column;
    padding: 20px;
    position: relative;
    top:65px;
}

.menu ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a,.menu ul li div{
    color:#121661;
    /* font-weight: bold; */
    text-decoration: none;
    /* font-size: 15px; */
}

.menu ul li a:hover,.menu ul li div:hover{
    color:#121661;
    font-weight: bold; 
    text-decoration: none;
    /* font-size: 15px; */
}

.menuTitle{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    /* font-size: 18px; */
    gap: 5px;
    padding: 10px 0;
    border-radius: 5px;
    
}

.home{
    position: relative;
    top:70px;
}
.top-container{
    padding:80px;
    background-color: #0070ba;
    color: white;
}

.top-container h1{
    margin-top: 0;
}

.top-container button{
    background-color: #121661;
    padding: 15px;
    border-radius: 5px;
    color: white;
    border: none;
}

.top-container button:hover{
    box-shadow: white 0px 8px 24px;
}

.top-container a{
    color: white;
    text-decoration: none;
    margin: auto 0;
}
.top-container a:hover{
    color: white;
    text-decoration:underline;
}
.sub-top-container{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.products-container{
    padding: 40px 80px;
    background-color: #EEEEEE;
}

.card-container {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-around;
    

  }

  .card {
    display: flex;
    min-width: 200px; /* Adjust according to the number of columns you want */
    margin-bottom: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: white;
  }

  .card-icon{
    height: 30px;
    margin: auto 10px auto 0;
    color:#FF9130;
  }

  .card a{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: 600;
  }

  .card p{
    font-size: 12px;
    margin:2px 0 0 0;
    color:#686D76;
  }

  .card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .tools-container{
    padding: 40px 80px;
    background-color: #F2F4D1;
    display: flex;
  }

  .tools-container-heading{
    padding:10px;
    margin: auto;
    width: fit-content;
  }

  .tools-card{
    padding: 10px;
    max-width: 350px;
    margin: auto;
  }

  .tools-card>div{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }

  .tools-card p{
    color:#686D76;
  }
  .tools-card a{
    text-decoration: none;
    color: #0070ba;
    font-weight: 600;
  }



  .tools-card a:hover{
    text-decoration: underline;
  }

  .tools-sub-heading{
    display: flex;
  }




@media (max-width: 768px) {
    .navbarRight {
        display: none; /* Hide for small screens */
    }

    .hamburger {
        display: flex; /* Show hamburger button for small screens */
    }

    .menu {
        display: flex; 
        position: fixed;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 4;
        width:100%;/* Initially hide dropdown menu for small screens */
    }

    .tools-container{
        display: block;
    }

    .top-container{
        padding:40px;
    }

    .products-container{
        padding:40px;
    }

    .tools-container{
        padding: 40px;
    }

}

@media (min-width: 768px){
    .menuTitle{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}



