.tokenization-container {
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
    font-family: sans-serif;
  }

  .baseUrl {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: monospace;
    font-weight:bold;
  }

  .url{
    overflow-wrap: break-word;
    width: 90%;
  }

  a{
    text-decoration: none;
    color: #0070ba;
  }

  a:hover{
    color: darkblue;
  }

  .section{
    margin-top: 40px;
  }
  
  .baseUrl p {
    margin: 0;
  }

  .endpoint {
    background-color: rgba(73,204,144,.1);;
    border: 1px solid #49cc90; /* Example border for the endpoint div */
    border-radius: 5px;
    position: relative;
}

.copyButtonURI {
    color: 476072;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    position: absolute;
    right:5px;
    top: 5px;
  }

  .copyButtonURI:hover{
    color:#49cc90;
  }

.method {/* Example color for the method */
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 10px;
    display: inline-block;
    font-size: 7px;
}
.post{
  background-color: #49cc90;
}

.details {
    display: inline-block;
    margin-left: 10px;
    font-family: monospace;
    font-weight:bold;
    font-size:larger;
}

.details p {
    margin: 0;
}
  
  .endpoint, .description, .request, .response {
    margin-bottom: 20px;
  }

  /* .endpoint{
    display: flex;
  } */
  
  .note{
    border-radius: 4px;
    background-color: #faf8f5;
    padding: 5px;
    border: 1px solid #0070ba;

  }
  .codeSnippet {
    /* background-color: #f5f5f5;
    border: 1px solid #ccc; */
    background-color: #000F28;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .code {
    white-space: pre-wrap;
    overflow-x: auto;
    max-width: calc(100% - 20px);
  }
  
  .copyButton {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    position: absolute;
    right:5px;
    top: 5px;
  }

  .copyButtonUrl {
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    position: absolute;
    right:5px;
    top: 5px;
  }
  
  .copyButtonUrl:hover{
    color: #0070ba;
  }

  .copyButton:hover{
    color: #0070ba;
  }
  


  